.columnCoordContainer {
    width: 800px;
    padding-left: 22px    
}

.columnCoord {
    width: 12.5%;
    text-align: center;
    display: inline-block;
    margin: -1.8px -1.8px -1.8px -1.8px;
    font-size: 14pt;
    font-weight: bold;
}

.rowCoordContainer {
    display: inline-block;
    width: 12px;
    height: 800px;
    position: absolute;
}

.rowCoord {
    height: 12.5%;    
    margin: 0px 0px 0px 0px;
    font-size: 14pt;
    font-weight: bold;
    white-space: pre-wrap;
    
}

#gameBoard {
    padding-left: 20px;
}